.Rproj.user
.Rhistory
.RData
.Ruserdata

/.quarto/

Mapas_cancer_mama.html
Mapas_cancer_mama_files/

# La bitácora HTML y sus recursos se publican en GitHub Pages
#bitacora_proyecto.html
#bitacora_proyecto_files/

datos/originales/
datos/procesados/

*.gpkg
*.sqlite
*.rar

ap_hosp_prov2/

**/*.quarto_ipynb